@import "src/assert/style/global.scss";

.menu{
  text-align: center;
  padding: 5px 20px;
  position: relative;
  z-index: 1001;
}

.menuItem{
  display: inline-block;
  margin: 0px 20px;
  font-size: 20px;
  // color:#95de64;
  color: $menuColor;

  &:hover {
    color: $hoverColor;
    font-size: 21px;
  }
}


.menuUser {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;

  span{
    margin-right: 5px;
    cursor: pointer;
  }
}

.menuLogin{
  position: absolute;
  top: 0;
  right: 0;
}