@import "src/assert/style/global.scss";

.article {
  min-height: 100px;
  margin: 30px 0;

  &Title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;

    a {
      color: $titleColor;

      &:visited {
        color: $visitedColor;
      }
    }
  }

  &Des {
    margin-bottom: 5px;
    color: $descriptionColor;
  }

  &Tag {
    margin-right: 10px;
    display: inline-block;
  }

  &Action {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #bfbfbf;

    &Icon {
    }
    &Count {
      margin-left: 3px;
    }
    &Star {
      padding: 2px 10px;
      cursor: pointer;
    }

    &Collect{
      margin-left: 5px;
      padding: 2px 10px;
      cursor: pointer;
    }
  }
}